global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096

defaults
  log            global
  retries             3
  maxconn          2000
  timeout connect  5000
  timeout client  50000
  timeout server  50000

listen stats
  bind 0.0.0.0:9090
  balance
  mode http
  stats enable
  stats auth admin:admin

listen 5-10004
  bind 0.0.0.0:10004
  mode tcp
  option tcplog
  balance leastconn
  server 5-2 mesos04.lab.net:31884 check
  server 5-1 mesos05.lab.net:31868 check

listen nodehello-10000
  bind 0.0.0.0:10000
  mode tcp
  option tcplog
  balance leastconn

listen nodehello2-10005
  bind 0.0.0.0:10005
  mode tcp
  option tcplog
  balance leastconn
  server nodehello2-2 mesos04.lab.net:31495 check
  server nodehello2-1 mesos05.lab.net:31472 check

listen 1-10002
  bind 0.0.0.0:10002
  mode tcp
  option tcplog
  balance leastconn

listen nodev1-10001
  bind 0.0.0.0:10001
  mode tcp
  option tcplog
  balance leastconn

listen 2-10003
  bind 0.0.0.0:10003
  mode tcp
  option tcplog
  balance leastconn
